<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Browser PrintInfo</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEDELDBFNTk9QUVJTVFVWV1hZ
	WltcXV5fYGFiY2RlZmdoaW1uc3R1dnt8f4CEh4iJiouPVSRudWxs0g0ODxBWJGNsYXNz
	XE5TQXR0cmlidXRlc4AwgALTEhMNFDBMV05TLmtleXNaTlMub2JqZWN0c68QGxUWFxgZ
	GhscHR4fICEiIyQlJicoKSorLC0uL4ADgASABYAGgAeACIAJgAqAC4AMgA2ADoAPgBCA
	EYASgBOAFIAVgBaAF4AYgBmAGoAbgByAHa8QGzEyMzM1NjMzMTU7MzEzPzFBNUNENTMz
	SElKP4AegB+AIoAigCOAJIAigCKAHoAjgCWAIoAegCKAKIAegCCAI4ApgCuAI4AigCKA
	LIAtgC6AKIAvXxAUTlNWZXJ0aWNhbFBhZ2luYXRpb25ZTlNQcmludGVyXxAWTlNIb3Jp
	em9udGFsbHlDZW50ZXJlZF8QFE5TVmVydGljYWxseUNlbnRlcmVkW05TVG9wTWFyZ2lu
	XxAVTlNIb3Jpem9uYWxQYWdpbmF0aW9uWE5TQ29waWVzXxAPTlNQcmludEFsbFBhZ2Vz
	XU5TT3JpZW50YXRpb25eTlNCb3R0b21NYXJnaW5bTlNQYXBlclNpemVbTlNGaXJzdFBh
	Z2VfEBhOU0RldGFpbGVkRXJyb3JSZXBvcnRpbmddTlNQYWdlc0Fjcm9zc1tOU0ZheE51
	bWJlcl8QEE5TUHJpbnRQcm90ZWN0ZWRdTlNQcmludGVyTmFtZVxOU0xlZnRNYXJnaW5b
	TlNQcmludFRpbWVbTlNQYXBlck5hbWVdTlNSaWdodE1hcmdpbltOU1BhZ2VzRG93bl1O
	U011c3RDb2xsYXRlXxAQTlNKb2JEaXNwb3NpdGlvbl8QD05TU2NhbGluZ0ZhY3RvclpO
	U0xhc3RQYWdlWk5TU2F2ZVBhdGgQANINamtBVk5TTmFtZYAhgCBbMTkyLjE2OC4xLjPS
	b3BOcVokY2xhc3NuYW1lWCRjbGFzc2Vzok5yWE5TT2JqZWN0EAEjQFIAAAAAAAAQAtN3
	DXh5enVaTlMuc2l6ZXZhbFpOUy5zcGVjaWFsgCaAJ1p7NjEyLCA3OTJ90m9wfX5XTlNW
	YWx1ZaJ9clDSgQ2Cg1dOUy50aW1lI8ItY8jFAAAAgCrSb3CFhlZOU0RhdGWihXJZbmEt
	bGV0dGVyXxAPTlNQcmludFNwb29sSm9iIz/wAAAAAAAAEn/////Sb3CMjV8QE05TTXV0
	YWJsZURpY3Rpb25hcnmjjI5yXE5TRGljdGlvbmFyedJvcJCRW05TUHJpbnRJbmZvopJy
	W05TUHJpbnRJbmZvAAgAEQAaACQAKQAyADcASQBMAFEAUwCHAI0AkgCZAKYAqACqALEA
	uQDEAOIA5ADmAOgA6gDsAO4A8ADyAPQA9gD4APoA/AD+AQABAgEEAQYBCAEKAQwBDgEQ
	ARIBFAEWARgBNgE4AToBPAE+AUABQgFEAUYBSAFKAUwBTgFQAVIBVAFWAVgBWgFcAV4B
	YAFiAWQBZgFoAWoBbAFuAYUBjwGoAb8BywHjAewB/gIMAhsCJwIzAk4CXAJoAnsCiQKW
	AqICrgK8AsgC1gLpAvsDBgMRAxMDGAMfAyEDIwMvAzQDPwNIA0sDVANWA18DYQNoA3MD
	fgOAA4IDjQOSA5oDnQOeA6MDqwO0A7YDuwPCA8UDzwPhA+oD7wP0BAoEDgQbBCAELAQv
	AAAAAAAAAgEAAAAAAAAAkwAAAAAAAAAAAAAAAAAABDs=
	</data>
	<key>Chart PrintInfo</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEDELDBFNTk9QUVJTVFVWV1hZ
	WltcXV5fYGFiY2RlZmdoaW1uc3R1dnt8f4CEh4iJiouPVSRudWxs0g0ODxBWJGNsYXNz
	XE5TQXR0cmlidXRlc4AwgALTEhMNFDBMV05TLmtleXNaTlMub2JqZWN0c68QGxUWFxgZ
	GhscHR4fICEiIyQlJicoKSorLC0uL4ADgASABYAGgAeACIAJgAqAC4AMgA2ADoAPgBCA
	EYASgBOAFIAVgBaAF4AYgBmAGoAbgByAHa8QGzEyMzM1NjMzMTU7MzEzPzFBNUNENTMz
	SElKP4AegB+AIoAigCOAJIAigCKAHoAjgCWAIoAegCKAKIAegCCAI4ApgCuAI4AigCKA
	LIAtgC6AKIAvXxAUTlNWZXJ0aWNhbFBhZ2luYXRpb25ZTlNQcmludGVyXxAWTlNIb3Jp
	em9udGFsbHlDZW50ZXJlZF8QFE5TVmVydGljYWxseUNlbnRlcmVkW05TVG9wTWFyZ2lu
	XxAVTlNIb3Jpem9uYWxQYWdpbmF0aW9uWE5TQ29waWVzXxAPTlNQcmludEFsbFBhZ2Vz
	XU5TT3JpZW50YXRpb25eTlNCb3R0b21NYXJnaW5bTlNQYXBlclNpemVbTlNGaXJzdFBh
	Z2VfEBhOU0RldGFpbGVkRXJyb3JSZXBvcnRpbmddTlNQYWdlc0Fjcm9zc1tOU0ZheE51
	bWJlcl8QEE5TUHJpbnRQcm90ZWN0ZWRdTlNQcmludGVyTmFtZVxOU0xlZnRNYXJnaW5b
	TlNQcmludFRpbWVbTlNQYXBlck5hbWVdTlNSaWdodE1hcmdpbltOU1BhZ2VzRG93bl1O
	U011c3RDb2xsYXRlXxAQTlNKb2JEaXNwb3NpdGlvbl8QD05TU2NhbGluZ0ZhY3RvclpO
	U0xhc3RQYWdlWk5TU2F2ZVBhdGgQANINamtBVk5TTmFtZYAhgCBbMTkyLjE2OC4xLjPS
	b3BOcVokY2xhc3NuYW1lWCRjbGFzc2Vzok5yWE5TT2JqZWN0EAEjQFIAAAAAAAAQAtN3
	DXh5enVaTlMuc2l6ZXZhbFpOUy5zcGVjaWFsgCaAJ1p7NjEyLCA3OTJ90m9wfX5XTlNW
	YWx1ZaJ9clDSgQ2Cg1dOUy50aW1lI8ItY8jFAAAAgCrSb3CFhlZOU0RhdGWihXJZbmEt
	bGV0dGVyXxAPTlNQcmludFNwb29sSm9iIz/wAAAAAAAAEn/////Sb3CMjV8QE05TTXV0
	YWJsZURpY3Rpb25hcnmjjI5yXE5TRGljdGlvbmFyedJvcJCRW05TUHJpbnRJbmZvopJy
	W05TUHJpbnRJbmZvAAgAEQAaACQAKQAyADcASQBMAFEAUwCHAI0AkgCZAKYAqACqALEA
	uQDEAOIA5ADmAOgA6gDsAO4A8ADyAPQA9gD4APoA/AD+AQABAgEEAQYBCAEKAQwBDgEQ
	ARIBFAEWARgBNgE4AToBPAE+AUABQgFEAUYBSAFKAUwBTgFQAVIBVAFWAVgBWgFcAV4B
	YAFiAWQBZgFoAWoBbAFuAYUBjwGoAb8BywHjAewB/gIMAhsCJwIzAk4CXAJoAnsCiQKW
	AqICrgK8AsgC1gLpAvsDBgMRAxMDGAMfAyEDIwMvAzQDPwNIA0sDVANWA18DYQNoA3MD
	fgOAA4IDjQOSA5oDnQOeA6MDqwO0A7YDuwPCA8UDzwPhA+oD7wP0BAoEDgQbBCAELAQv
	AAAAAAAAAgEAAAAAAAAAkwAAAAAAAAAAAAAAAAAABDs=
	</data>
	<key>Class</key>
	<string>GEDCOMDocument</string>
	<key>Encoding</key>
	<integer>4</integer>
	<key>GEDCOM File Name</key>
	<string>Windsor.ged</string>
	<key>Index Column Settings</key>
	<dict>
		<key>User Album 2</key>
		<array>
			<dict>
				<key>AltExpression</key>
				<string></string>
				<key>Editable</key>
				<false/>
				<key>Expression</key>
				<string>rec</string>
				<key>Justification</key>
				<string>Left</string>
				<key>Label</key>
				<string>Record Type</string>
				<key>Width</key>
				<integer>90</integer>
			</dict>
			<dict>
				<key>AltExpression</key>
				<string></string>
				<key>Editable</key>
				<false/>
				<key>Expression</key>
				<string>view</string>
				<key>Justification</key>
				<string>Left</string>
				<key>Label</key>
				<string>Record Name</string>
				<key>Width</key>
				<integer>300</integer>
			</dict>
		</array>
		<key>User Album 3</key>
		<array>
			<dict>
				<key>AltExpression</key>
				<string></string>
				<key>Editable</key>
				<false/>
				<key>Expression</key>
				<string>rec</string>
				<key>Justification</key>
				<string>Left</string>
				<key>Label</key>
				<string>Record Type</string>
				<key>Width</key>
				<integer>90</integer>
			</dict>
			<dict>
				<key>AltExpression</key>
				<string></string>
				<key>Editable</key>
				<false/>
				<key>Expression</key>
				<string>view</string>
				<key>Justification</key>
				<string>Left</string>
				<key>Label</key>
				<string>Record Name</string>
				<key>Width</key>
				<integer>300</integer>
			</dict>
		</array>
	</dict>
	<key>Index PrintInfo</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEDELDBFNTk9QUVJTVFVWV1hZ
	WltcXV5fYGFiY2RlZmdoaW1uc3R1dnt8f4CEh4iJiouPVSRudWxs0g0ODxBWJGNsYXNz
	XE5TQXR0cmlidXRlc4AwgALTEhMNFDBMV05TLmtleXNaTlMub2JqZWN0c68QGxUWFxgZ
	GhscHR4fICEiIyQlJicoKSorLC0uL4ADgASABYAGgAeACIAJgAqAC4AMgA2ADoAPgBCA
	EYASgBOAFIAVgBaAF4AYgBmAGoAbgByAHa8QGzEyMzM1NjMzMTU7MzEzPzFBNUNENTMz
	SElKP4AegB+AIoAigCOAJIAigCKAHoAjgCWAIoAegCKAKIAegCCAI4ApgCuAI4AigCKA
	LIAtgC6AKIAvXxAUTlNWZXJ0aWNhbFBhZ2luYXRpb25ZTlNQcmludGVyXxAWTlNIb3Jp
	em9udGFsbHlDZW50ZXJlZF8QFE5TVmVydGljYWxseUNlbnRlcmVkW05TVG9wTWFyZ2lu
	XxAVTlNIb3Jpem9uYWxQYWdpbmF0aW9uWE5TQ29waWVzXxAPTlNQcmludEFsbFBhZ2Vz
	XU5TT3JpZW50YXRpb25eTlNCb3R0b21NYXJnaW5bTlNQYXBlclNpemVbTlNGaXJzdFBh
	Z2VfEBhOU0RldGFpbGVkRXJyb3JSZXBvcnRpbmddTlNQYWdlc0Fjcm9zc1tOU0ZheE51
	bWJlcl8QEE5TUHJpbnRQcm90ZWN0ZWRdTlNQcmludGVyTmFtZVxOU0xlZnRNYXJnaW5b
	TlNQcmludFRpbWVbTlNQYXBlck5hbWVdTlNSaWdodE1hcmdpbltOU1BhZ2VzRG93bl1O
	U011c3RDb2xsYXRlXxAQTlNKb2JEaXNwb3NpdGlvbl8QD05TU2NhbGluZ0ZhY3RvclpO
	U0xhc3RQYWdlWk5TU2F2ZVBhdGgQANINamtBVk5TTmFtZYAhgCBbMTkyLjE2OC4xLjPS
	b3BOcVokY2xhc3NuYW1lWCRjbGFzc2Vzok5yWE5TT2JqZWN0EAEjQFIAAAAAAAAQAtN3
	DXh5enVaTlMuc2l6ZXZhbFpOUy5zcGVjaWFsgCaAJ1p7NjEyLCA3OTJ90m9wfX5XTlNW
	YWx1ZaJ9clDSgQ2Cg1dOUy50aW1lI8ItY8jFAAAAgCrSb3CFhlZOU0RhdGWihXJZbmEt
	bGV0dGVyXxAPTlNQcmludFNwb29sSm9iIz/wAAAAAAAAEn/////Sb3CMjV8QE05TTXV0
	YWJsZURpY3Rpb25hcnmjjI5yXE5TRGljdGlvbmFyedJvcJCRW05TUHJpbnRJbmZvopJy
	W05TUHJpbnRJbmZvAAgAEQAaACQAKQAyADcASQBMAFEAUwCHAI0AkgCZAKYAqACqALEA
	uQDEAOIA5ADmAOgA6gDsAO4A8ADyAPQA9gD4APoA/AD+AQABAgEEAQYBCAEKAQwBDgEQ
	ARIBFAEWARgBNgE4AToBPAE+AUABQgFEAUYBSAFKAUwBTgFQAVIBVAFWAVgBWgFcAV4B
	YAFiAWQBZgFoAWoBbAFuAYUBjwGoAb8BywHjAewB/gIMAhsCJwIzAk4CXAJoAnsCiQKW
	AqICrgK8AsgC1gLpAvsDBgMRAxMDGAMfAyEDIwMvAzQDPwNIA0sDVANWA18DYQNoA3MD
	fgOAA4IDjQOSA5oDnQOeA6MDqwO0A7YDuwPCA8UDzwPhA+oD7wP0BAoEDgQbBCAELAQv
	AAAAAAAAAgEAAAAAAAAAkwAAAAAAAAAAAAAAAAAABDs=
	</data>
	<key>Record Album Listings</key>
	<array>
		<dict>
			<key>Album Name</key>
			<string>Families</string>
			<key>Album Record Type</key>
			<string>FAM</string>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>HUSB.view</string>
			</array>
			<key>Album Type ID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Individuals</string>
			<key>Album Record Type</key>
			<string>INDI</string>
			<key>Album Selected IDs</key>
			<array>
				<string>@I11@</string>
			</array>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>view</string>
				<string>BIRT.DATE.sdn</string>
			</array>
			<key>Album Type ID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Sources</string>
			<key>Album Record Type</key>
			<string>SOUR</string>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>view</string>
			</array>
			<key>Album Type ID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Places</string>
			<key>Album Record Type</key>
			<string>_PLC</string>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>view.reverse</string>
			</array>
			<key>Album Type ID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Multimedia Objects</string>
			<key>Album Record Type</key>
			<string>OBJE</string>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>view</string>
			</array>
			<key>Album Type ID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Book Styles</string>
			<key>Album Record Type</key>
			<string>_BOK</string>
			<key>Album Selected IDs</key>
			<array>
				<string>@B1@</string>
			</array>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>view</string>
			</array>
			<key>Album Type ID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Notes</string>
			<key>Album Record Type</key>
			<string>NOTE</string>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>view</string>
			</array>
			<key>Album Type ID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Submitters</string>
			<key>Album Record Type</key>
			<string>SUBM</string>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>view</string>
			</array>
			<key>Album Type ID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Header</string>
			<key>Album Record Type</key>
			<string>HEAD</string>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>view</string>
			</array>
			<key>Album Type ID</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Submission</string>
			<key>Album Record Type</key>
			<string>SUBN</string>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>view</string>
			</array>
			<key>Album Type ID</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Line of Succession</string>
			<key>Album Record IDs</key>
			<array>
				<string>@I41@</string>
				<string>@I40@</string>
				<string>@I12@</string>
				<string>@I31@</string>
				<string>@I11@</string>
				<string>@I6@</string>
			</array>
			<key>Album Record Type</key>
			<string>User Album 2</string>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>rec</string>
			</array>
			<key>Album Type ID</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Album Name</key>
			<string>Great Grandchildren of Elizabeth</string>
			<key>Album Record IDs</key>
			<array>
				<string>@I44@</string>
				<string>@I32@</string>
				<string>@I29@</string>
				<string>@I45@</string>
				<string>@I33@</string>
				<string>@I40@</string>
				<string>@I31@</string>
				<string>@I41@</string>
			</array>
			<key>Album Record Type</key>
			<string>User Album 3</string>
			<key>Album Sorting Array</key>
			<array>
				<integer>-1</integer>
				<string>view</string>
			</array>
			<key>Album Type ID</key>
			<integer>5</integer>
		</dict>
	</array>
	<key>Save Thumbnails</key>
	<false/>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
